<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To-Do List</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    h1 {
      text-align: center;
    }

    form {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    input[type="text"] {
      margin-bottom: 10px;
      padding: 15px;
    }

    button[type="submit"] {
      padding: 15px;
      font-size: 15px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    li input[type="checkbox"] {
      margin-right: 10px;
    }

    li span {
      font-size: 16px;
      margin-right: 10px;
    }

    li button {
      padding: 5px;
      background-color: #f44336;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <form action="/api/home" method="get">
    <button type="submit">登出</button>
  </form>
  <h1>To-Do List</h1>
  <form action="/api/write" method="post">
    <input type="text" name="new_item" placeholder="請輸入代辦事項..." required>
    <button type="submit">Add</button>
  </form>
  <ul>
    <% for (let i = 0; i < toDoList.length; i++) { %>
      <li>
        <form action="/api/change" method="post" style="display: inline;">
          <input type="hidden" name="id" value="<%= toDoList[i].id %>">
          <input type="text" name="body" value="<%= toDoList[i].body %>" required>
          <button type="submit">編輯</button>
        </form>
        <form action="/api/remove" method="post" style="display: inline;">
          <input type="hidden" name="id" value="<%= toDoList[i].id %>">
          <input type="hidden" name="body" value="<%= toDoList[i].body %>">
          <button type="submit">刪除</button>
        </form>
      </li>
    <% } %>
  </ul>
</body>
</html>
